{% extends  "base.html" %}

{% load static %}

{% block head  %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/course.css' %}">

    <script>
        const course_id = {{ course.id }};
    </script>

    <script src="{% static 'js/course.js' %}">

    </script>
{% endblock %}

{% block content  %}

    {% csrf_token %}
<br><br>
<div class="container">
  <div class="courses-container">
    {% for lesson in lessons %}

    <div class="course-container">
      <img class="review" src="{{ lesson.get_image_url }}" alt="loading...">

      <a href="/lesson/{{lesson.id}}" class="course-content">

        <div class="course-info">
          <span class="lesson-title">{{lesson.get_short_title}}</span>
        </div>

        <span class="show-url">Смотреть</span>

      </a>
    </div>

    {% endfor %}
  </div>

    <div class="strap">
        <div class="comments-section">
            <h2>Отзывы</h2>

            <div class="comment-write">
                <input id="comment-input" type="text" class="input">

                <div id='starRating' class="star-rating">
                    <input type="radio" id="5-stars" name="rating" value="5" />
                    <label for="5-stars" class="star">&#9733;</label>
                    <input type="radio" id="4-stars" name="rating" value="4" />
                    <label for="4-stars" class="star">&#9733;</label>
                    <input type="radio" id="3-stars" name="rating" value="3" />
                    <label for="3-stars" class="star">&#9733;</label>
                    <input type="radio" id="2-stars" name="rating" value="2" />
                    <label for="2-stars" class="star">&#9733;</label>
                    <input type="radio" id="1-star" name="rating" value="1" />
                    <label for="1-star" class="star">&#9733;</label>
                </div>

                <button onclick="send_comment()" class="button"> Отправить </button>
            </div>

            <div id="comments" class="comments">

            </div>
        </div>
    </div>


</div>


{% endblock %}

